#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url(https://liyu-liyu-666.gitee.io/blog/image/30.jpg);
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
    /* 标准的语法 */
    background: linear-gradient(to right, red, blue);
}